.boat_specs {
	text-align: center;
	border: 3px solid #2B3231;
	background-color: #D9D7C9;
	border-radius: 10%;
	margin-left: 400px;
	margin-right: 350px;
	margin-top: 10px;
	font-family: helvetica;
}

.boat_specs_header {
	color: #B23C11;	
}

.boat_specs_page {
	background-image: url("waves.jpg");
}

.update_boat {
	text-align: center;
	border: 3px solid #2B3231;
	background-color: #D9D7C9;
	border-radius: 10%;
	margin-left: 400px;
	margin-right: 350px;
	margin-top: 10px;
	font-family: helvetica;
}

.update_boat_header {
	color: #B23C11;	
}

.new_expedition {
	text-align: center;
	border: 3px solid #2B3231;
	background-color: #D9D7C9;
	border-radius: 10%;
	margin-left: 400px;
	margin-right: 350px;
	margin-top: 10px;
	font-family: helvetica;
}

.new_expedition_header {
	color: #B23C11;	
}

.all_boats_div {
/*	text-align: center;*/
	background-color: rgba(0,0,0,0.0);
	width: 30%;
	margin-left: 36%;
	font-family: helvetica;
}

.all_boats_header {
	color: white;	
	border: #87BAAB solid 5px;
	text-align: center;
	background-color: #2B3231;
	padding: 10px;
}

.all_boats_page {
	background-image: url("waves.jpg");
}

.individ_boats {
	padding: 7px;
	text-align: center;
	border: 5px #2B3231 solid;
	border-radius: 10%;
	margin-bottom: 10px;
	background-color: #D9D7C9;
}
