.captain_name span {
	color: #D9D7C9;
}

.user_info {
	text-align: center;
	border: 3px solid #2B3231;
	background-color: #D9D7C9;
	border-radius: 10%;
	margin-left: 400px;
	margin-right: 350px;
	margin-top: 10px;
	font-family: helvetica;
}

.user_info_header {

}